*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top :1rem;
    box-sizing: border-box;
    
    }
    
    :root{
      --container-color:#1a1e21;
      --second-color:#fd8f44;
      --text-color:#172317;
      --bg-color:#fff;
    
     ::selection{
     color: var(--bg-color);
     background: var(--second-color);
    
    }
    
    }
    
    
    
    li{
        list-style: none;
    }
    img{
        width: 100%;
    }
    section{
        padding: 3rem 0 2rem;
    }
    
    .container{
      max-width:1260px;
      margin: auto;
      width: 100%;
      
      
    }
    
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 200;
  
  
        padding: 0 1.5rem;
      
        height:5%;
        background: rgba(0, 0, 0, 0.21);
        border-radius: 0px 0px 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
  
  
  
  
  
    }
    
    
    label{
      position: absolute;
      display: flex;
      width: 60px;
      height: 25px;
      left: 120px;
      top: 420px;
      border:  2px solid rgb(255, 255, 255);
      border-radius: 20px;
  }
  label:before{
      position: absolute;
      display: flex;
      content: '';
      width:20px;
      height: 20px;
      left: 5px;
      top: 1px;
      border-radius: 50%;
      background: #030302;
      cursor: pointer;
      transition: 0.4s;
  }
  label.active:before{
      left: 30px;
      background: #ffffff;
     
     
  }
  body.night{
      background: #000000;
      color: #ffffff;
  }
  @media screen and (min-width:900px) {
    .respon{
      display: flex;
    }
    img{
      height:50%;
      width:auto;
      padding-top: 3vh;
      padding-right: 5%;
    }
    p{
      max-width: 80%;
      line-height: 30px;
    }
  }
    
    
    
    
    
    
  
    
    .home{
       width: 100%;
       height: 400px;
    
       
       background: url('https://wallpaperaccess.com/full/43868.jpg') no-repeat center / cover;
    
    }
    .home-text{
        color: var(--bg-color);
        text-align: center;
        padding: 20%;
    
    
    }
    
    .home-title{
       
      text-align: center;
      padding: -50%;
      font-size: 50px;
  
  
    }
    .home-subtitle{
        font-size: 1rem;
        font-weight: 550;
        color:rgb(255, 166, 0);
    
    
    }
    
    
    
   
    
    
    
    
    
    
    li {
    
        list-style: none;
    }
    
    .logo{
    padding: 1%;
    
    }
    
    
    
    
    a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 550;
    font-size: 1rem;
    }
    a:hover {
    color: rgb(255, 166, 0);
    
    }
    b{
        text-decoration: none;
        color:rgb(255, 166, 0);
        font-size: 1.5rem;
        }
        b:hover {
        color: rgb(255, 255, 255);
        
        }
    
    
    
    .navbar {
     width: 100%;
     height: 60px;
     max-width: 1200px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     
    }
    
    
    
    
    
    .navbar .logo a{
       font-size: 1.5rem;
       font-weight: bold;
       
    
    
    }
    .navbar .links {
        display: flex;
        padding: 5%;
        gap: 3rem;
    }
    .navbar .toggle_btn{
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        cursor: pointer;
       display: none;
    
    }
    
    .action_btn {
        background-color: rgb(255, 166, 0);
        color: rgb(255, 255, 255);
        padding: 0.5rem 2rem;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer;
    }
    
    .action_btn:hover{
        scale: 1.0s;
        color: white;
    
    }
    .action_btn:active{
        scale: 0.9s;
    }
    
    .dropdown_menu{
        display: none;
        position: absolute;
        right: 2rem;
        top: 60px;
        height: 0;
        width: 300px;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .dropdown_menu.open{
        height: 490px;
    }
    .dropdown_menu li {
        padding: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    
    }
  
    .dropdown_menu li .darkmode{
      align-items: center;
      font-weight: 550;
    }
  
    .dropdown_menu .action_btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    section#hero{
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    h1{
        font-size: 3rem;
        margin-bottom: 0rem; 
    }
    @media(max-width: 992px){
        .navbar .links,
        .navbar .action_btn{
            display: none;
        }
    
     .navbar .toggle_btn{
        display: block;
    
     }
     
    .lable{
      display: block;
    }
       
    
     .dropdown_menu{
        display: block;
     }
    }
    @media(max-width: 480px){
       .dropdown_menu{
        left: 2rem;
        width: unset;
       }
       .nav{
        left: -0.4rem;
        width: unset;
    
       }
      .lable{
        width: unset;
        left: 2rem;
      }
       
    }
    
    
    
    
    
    
    .lpng{
        width: 60px;
        position: absolute;
        left: -2px;
    
    }
  
    body{
        font-family: 'Poppins', sans-serif;
        line-height: 1.5;
    }
  
  

    .post{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 1.5rem;
        
     
     }
     .post-box{
        
         
         padding: 15px;
         
         
     }
     .post-img{
         width: 100%;
         height: 550px;
         object-fit: cover;
         object-position: center;
         border-radius: 0.5rem;
     
     }
    
     .category{
         font-size:0.8rem;
         font-weight: 500;
         text-transform: uppercase;
         color: var(--second-color);
     
     }
     .title{
     
         font-size: 1.2rem;
         font-weight: 600;
        
     }
     
     
  
 
 
 .back-home{
    font-size: 0.9rem;
    display: flex;
    justify-content:center;
    background: #eee9e9;
    padding: 10px;
    color: #000000;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
 }
 .back-home:hover{
    background: rgb(255, 166, 0);
    color: #fff;
 }
 .back-home i{
    padding: 0 10px;
 }